.social {
    padding: 60px 0 70px;
    background: #EDEDED;
}

.social__title {
    text-align: center;
    color: var(--pink);
}

.social__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(27px, 6.5vw, 93px);
    margin-top: 20px;
}

.social-icon {
    width: clamp(75px, 8vw, 110px);
    height: clamp(75px, 8vw, 110px);
    background: white;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon img {
    height: clamp(20px, 2vw, 30px);
}

@media screen and (max-width: 992px) {
    .social {
        padding: 45px 0 65px;
    }
}